<h1>ng10-personal-space</h1>
<div>
    <button mat-button [matMenuTriggerFor]="loginMenu">Connexion</button>
    <mat-menu #loginMenu="matMenu" yPosition="below">
        <button mat-menu-item (click)="navigateTo('login')">Login</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="contactMenu">Contact</button>
    <mat-menu #contactMenu="matMenu" yPosition="below">
        <button mat-menu-item (click)="navigateTo('contact')">Nous contacter</button>
        <button mat-menu-item (click)="navigateTo('location')">Adresse</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="albumMenu">Album photo</button>
    <mat-menu #albumMenu="matMenu" yPosition="below">
        <button mat-menu-item (click)="navigateTo('album')">Photo</button>
    </mat-menu>
</div>
<router-outlet></router-outlet>